<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cen3031.android.packages.ballslappers"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        
        <activity android:name="HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="SinglePlayerCreateActivity"
            android:label="@string/title_activity_single_player_create"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ballslappers.SinglePlayerCreateActivity" />
        </activity>
        
        <activity
            android:name=".MultiplayerCreateActivity"
            android:label="@string/title_activity_multiplayer_create"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ballslappers.MultiplayerCreateActivity" />
        </activity>
        
        <activity android:name="MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ballslappers.MainActivity" />
        </activity>
        
        <activity android:name="MultiplayerLobbyActivity">
            
        </activity>
        <activity android:name="HighScoresActivity"></activity>
        <activity android:name="ViewHighScores"></activity>

    </application>

</manifest>
